<script>
	import '../app.pcss';
	import Profile from '$lib/Profile.svelte';
	import Bike from '$lib/Bike.svelte';
	import { SvelteToast } from '@zerodevx/svelte-toast';
	import { init_backend, reset_backend, get_server, backend } from '$lib/utils';
	import { onMount } from 'svelte';
	import { Navbar, NavLi, NavUl, NavHamburger } from 'flowbite-svelte';

	onMount(() => {
		init_backend();
	});
</script>

<div>
	<Navbar>
		<NavHamburger></NavHamburger>
		<NavUl>
			<NavLi href="/">Dashboard</NavLi>
			<NavLi href="/generate.html">Generate Training</NavLi>
			<NavLi href="/history.html">History</NavLi>
			<Profile></Profile>
			<Bike></Bike>
			{#if $backend !== null}
				<NavLi class="cursor-pointer" on:click={reset_backend}>Reset Backend</NavLi>
			{/if}
		</NavUl>
	</Navbar>
	<SvelteToast></SvelteToast>
	<slot />
</div>
