<script>
	import Dashboard from '$lib/Dashboard.svelte';
	import Graph from '$lib/Graph.svelte';
	import { get_server } from '$lib/utils';
	import { onMount } from 'svelte';
	import { toast } from '@zerodevx/svelte-toast';
	import { current_user } from '$lib/utils';
	import { Button, ButtonGroup, Label, Accordion, AccordionItem } from 'flowbite-svelte';

	onMount(() => {
		check_is_running();
	});

	async function submit() {
		const response = await fetch(get_server() + `/submit/${$current_user}`, {
			method: 'POST'
		});
		if (response.ok) {
			toast.push('Training has been successfully submitted');
		} else {
			let text = await response.text();
			toast.push(`Failed to reset: ${text}`);
		}
	}

	async function reset() {
		reset_graph();
		const response = await fetch(get_server() + '/reset', {
			method: 'POST'
		});
		if (!response.ok) {
			toast.push(`Failed to reset: ${response.status}`);
			return;
		}
	}

	async function toggle_start() {
		let endpoint = is_running ? '/stop' : '/start';
		const response = await fetch(get_server() + endpoint, {
			method: 'POST'
		});
		if (!response.ok) {
			is_running = false;
			toast.push(`Failed to toggle start: ${response.status}`);
			return;
		}
		is_running = !is_running;
	}

	async function check_is_running() {
		const response = await fetch(get_server() + '/running');
		if (!response.ok) {
			toast.push('Failed to check if running');
			return;
		}
		let text = await response.text();
		is_running = text == 'running';
	}

	let is_running = false;
	let reset_graph;
	let dashboard_data = {
		cadence: 0,
		cadence_target: 0,
		resistance: 1,
		time_elapsed: 0,
		time_remaining: 0,
		calories: 0,
		distance: 0
	};
	let text = '';
</script>

<Dashboard bind:data={dashboard_data} />
<Accordion>
	<AccordionItem>
		<Label slot="header">Graph</Label>
		<Graph bind:reset_graph bind:last_data={dashboard_data} />
	</AccordionItem>
</Accordion>
<div>
	<ButtonGroup>
		<Button on:click={submit}>Submit</Button>
		<Button on:click={reset}>Reset</Button>
		<Button on:click={toggle_start}>
			{#if is_running}
				Stop
			{:else}
				Start
			{/if}
		</Button>
	</ButtonGroup>
</div>

<style>
	div {
		text-align: right;
	}
</style>
