<script>
	import { Line } from 'svelte-chartjs';
	import {
		Chart as ChartJS,
		Title,
		Tooltip,
		Legend,
		LineElement,
		LinearScale,
		TimeScale,
		PointElement,
		CategoryScale
	} from 'chart.js';
	import { onMount } from 'svelte';
	import { current_user } from '$lib/utils';
	import { get_server } from '$lib/utils';
	import { toast } from '@zerodevx/svelte-toast';
	import 'chartjs-adapter-date-fns';
	import { Heading } from 'flowbite-svelte';

	const color1 = 'rgb(244,164,96,0.7)';
	const color2 = 'rgb(50,205,50,0.7)';

	async function fetch_data() {
		const response = await fetch(get_server() + `/history/${$current_user}`);
		if (!response.ok) {
			toast.push('Failed to fetch history');
			return;
		}
		let data = await response.json();
		data1.datasets[0].data = data.map((d) => {
			return { x: d.datetime, y: d.effort };
		});
		data1.datasets[1].data = data.map((d) => {
			return { x: d.datetime, y: d.distance };
		});
		chart1.update();

		data2.datasets[0].data = data.map((d) => {
			return { x: d.datetime, y: d.average_cadence };
		});
		data2.datasets[1].data = data.map((d) => {
			return { x: d.datetime, y: d.average_resistance };
		});
		chart2.update();
	}

	async function test() {
		fetch('GET', 'http://localhost:8000');
	}

	onMount(() => {
		fetch_data();
		test();
	});

	let data1 = {
		labels: [],
		datasets: [
			{
				yAxisID: 'yAxisEffort',
				label: 'Effort',
				lineTension: 0.3,
				borderColor: color1,
				borderCapStyle: 'butt',
				borderDash: [],
				borderDashOffset: 0.0,
				borderJoinStyle: 'miter',
				pointRadius: 0,
				cubicInterpolationMode: 'monotone',
				data: []
			},
			{
				yAxisID: 'yAxisDistance',
				label: 'Distance',
				lineTension: 0.3,
				borderColor: color2,
				borderCapStyle: 'butt',
				borderDash: [],
				borderDashOffset: 0.0,
				borderJoinStyle: 'miter',
				pointRadius: 0,
				cubicInterpolationMode: 'monotone',
				data: []
			}
		]
	};

	let data2 = {
		labels: [],
		datasets: [
			{
				yAxisID: 'yAxisCadence',
				label: 'Average Cadence',
				lineTension: 0.3,
				borderColor: color1,
				borderCapStyle: 'butt',
				borderDash: [],
				borderDashOffset: 0.0,
				borderJoinStyle: 'miter',
				pointRadius: 0,
				cubicInterpolationMode: 'monotone',
				data: []
			},
			{
				yAxisID: 'yAxisResistance',
				label: 'Average Resistance',
				lineTension: 0.3,
				borderColor: color2,
				borderCapStyle: 'butt',
				borderDash: [],
				borderDashOffset: 0.0,
				borderJoinStyle: 'miter',
				pointRadius: 0,
				cubicInterpolationMode: 'monotone',
				data: []
			}
		]
	};
	let options1 = {
		scales: {
			x: {
				type: 'time',
				title: {
					display: true,
					text: 'Date'
				},
				grid: {
					color: '#666666'
				}
			},
			yAxisEffort: {
				title: {
					display: true,
					text: 'Effort [kCal]'
				},
				position: 'right'
			},
			yAxisDistance: {
				title: {
					display: true,
					text: 'Distance [km]'
				},
				position: 'left',
				grid: {
					color: '#666666'
				}
			}
		}
	};

	let options2 = {
		animation: true,
		scales: {
			x: {
				type: 'time',
				title: {
					display: true,
					text: 'Date'
				},
				grid: {
					color: '#666666'
				}
			},
			yAxisResistance: {
				title: {
					display: true,
					text: 'Resistance'
				},
				position: 'right'
			},
			yAxisCadence: {
				title: {
					display: true,
					text: 'Cadence [RPM]'
				},
				position: 'left',
				grid: {
					color: '#666666'
				}
			}
		}
	};
	ChartJS.register(
		Title,
		Tooltip,
		Legend,
		LineElement,
		LinearScale,
		PointElement,
		TimeScale,
		CategoryScale
	);
	let chart1;
	let chart2;
</script>

<div>
	<div>
		<Heading tag="h2">Effort / Distance</Heading>
		<Line bind:chart={chart1} data={data1} options={options1} />
	</div>
	<div>
		<Heading tag="h2">Cadence / Resistance</Heading>
		<Line bind:chart={chart2} data={data2} options={options2} />
	</div>
</div>
