<script>
	import { call_backend } from '$lib/utils';
	import { onMount } from 'svelte';
	import { toast } from '@zerodevx/svelte-toast';
	import { NavLi } from 'flowbite-svelte';

	onMount(() => {
		update_status();
	});

	async function update_status() {
		const response = await call_backend('/bike/status');
		if (!response.ok) {
			toast.push('Failed to get status');
			return;
		}

		is_connected = (await response.text()) == 'connected';
	}

	async function manage_connection() {
		if (is_connected) {
			await disconnect();
		} else {
			await connect();
		}
	}

	async function connect() {
		is_connecting = true;
		const response = await call_backend('/bike/connect');
		is_connecting = false;

		if (!response.ok) {
			toast.push('Failed to connect');
			return;
		}

		is_connected = true;
	}

	async function disconnect() {
		const response = await call_backend('/bike/disconnect');
		if (!response.ok) {
			toast.push('Failed to disconnect');
			return;
		}

		is_connected = false;
	}

	let is_connected = false;
	let is_connecting = false;
</script>

<NavLi class="cursor-pointer" on:click={manage_connection}>
	{#if is_connected}
		Bike Connected
	{:else if is_connecting}
		Bike is Connecting
	{:else}
		Bike Not Connected
	{/if}
</NavLi>
