<script>
	import { call_backend } from '$lib/utils';
	import { get_time_from_ms } from './utils';
	import { toast } from '@zerodevx/svelte-toast';
	import { Label, Input, NumberInput } from 'flowbite-svelte';
	import Spinbox from './Spinbox.svelte';

	export let data = {};

	$: time_elapsed = get_time_from_ms(data.time_elapsed);
	$: time_remaining = get_time_from_ms(data.time_remaining);
	let calories = 0;
	let distance = 0;
	let disable_button = false;
	const disable_button_timeout_ms = 3000;

	async function update_resistance(new_value) {
		const response = await call_backend(`/bike/resistance/${new_value}`, {
			method: 'POST'
		});
		if (!response.ok) {
			toast.push('Failed to set resistance');
			return;
		}

		disable_button = true;
		setTimeout(() => {
			disable_button = false;
		}, disable_button_timeout_ms);
	}

	const label_class = 'font-bold text-xl';
	$: below = data.cadence < data.cadence_target - 5;
</script>

<div class="grid grid-cols-1 place-content-center gap-4 text-center sm:grid-cols-2 md:grid-cols-3">
	<div>
		<Label class={label_class}>Cadence (RPM)</Label>
		<Label class={label_class} style="color: {below ? 'red' : 'primary'}">
			{data.cadence} / {data.cadence_target}
		</Label>
	</div>
	<div>
		<Label class={label_class}>Resistance</Label>
		<Spinbox
			min="1"
			max="15"
			value={data.resistance}
			disabled={disable_button}
			on_change={update_resistance}
		/>
	</div>
	<div>
		<Label class={label_class}>Time Elapsed</Label>
		<Label class={label_class}>{time_elapsed}</Label>
	</div>
	<div>
		<Label class={label_class}>Time Remaining</Label>
		<Label class={label_class}>{time_remaining}</Label>
	</div>
	<div>
		<Label class={label_class}>Distance (km)</Label>
		<Label class={label_class}>{data.distance.toFixed(1)}</Label>
	</div>
	<div>
		<Label class={label_class}>Calories (kcal)</Label>
		<Label class={label_class}>{data.calories}</Label>
	</div>
</div>
