<script>
	export let disabled;
	export let on_click;
</script>

<button
	{disabled}
	on:click={on_click}
	type="button"
	id="decrement-button"
	data-input-counter-decrement="quantity-input"
	class="h-11 rounded-s-lg border border-gray-300 bg-gray-100 p-3 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-gray-100 dark:border-gray-600 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700"
>
	<svg
		class="h-3 w-3 text-gray-900 dark:text-white"
		aria-hidden="true"
		xmlns="http://www.w3.org/2000/svg"
		fill="none"
		viewBox="0 0 18 2"
	>
		<path
			stroke="currentColor"
			stroke-linecap="round"
			stroke-linejoin="round"
			stroke-width="2"
			d="M1 1h16"
		/>
	</svg>
</button>
