<script>
	import { onMount } from 'svelte';
	import { toast } from '@zerodevx/svelte-toast';
	import { current_user } from '$lib/utils';
	import { call_backend } from '$lib/utils';
	import { NavLi, Dropdown, DropdownItem } from 'flowbite-svelte';
	import { ChevronDownOutline } from 'flowbite-svelte-icons';

	onMount(() => {
		get_profiles();
	});

	function update_profile(user) {
		$current_user = user.user;
	}

	async function get_profiles() {
		const response = await call_backend('/users');
		if (!response.ok) {
			toast.push('Failed to fetch profiles');
			return;
		}
		users = await response.json();
		users = users.map((item) => {
			return item.name;
		});
		if (users.length > 0) {
			$current_user = users[0];
		}
	}

	async function add_profile() {
		let profile = prompt('Please enter profile name');
		if (profile == null) {
			return;
		}
		const response = await call_backend(`/users/${profile}`, {
			method: 'POST'
		});
		if (!response.ok) {
			toast.push('Failed to add profile');
			return;
		}
		await get_profiles();
	}

	let users = [];
</script>

<span class="cursor-pointer">
	<NavLi class="dropdown">
		{$current_user}
		<ChevronDownOutline class="ms-2 inline h-6 w-6 text-primary-800 dark:text-white" />
		<Dropdown class="z-20 w-44">
			{#each users as user}
				<DropdownItem on:click={() => update_profile({ user })}>{user}</DropdownItem>
			{/each}
			<DropdownItem on:click={add_profile}>Add Profile</DropdownItem>
		</Dropdown>
	</NavLi>
</span>
