<script>
	import { Input } from 'flowbite-svelte';
	import Plus from './Plus.svelte';
	import Minus from './Minus.svelte';
	import { Label } from 'flowbite-svelte';

	export let disabled = false;
	export let on_change = async () => {};
	export let value;
	export let min = 0;
	export let max;
	export let step = 1;

	async function update(inc) {
		value = Math.min(Math.max(Number(value) + inc, min), max);
		await on_change(value);
	}

	async function internal_on_change() {
		value = Math.min(Math.max(Number(value), min, max));
		await on_change(value);
	}
</script>

<div class="relative m-auto flex max-w-[8rem] items-center">
	<Minus {disabled} on_click={() => update(-step)} />
	<input
		type="text"
		id="quantity-input"
		data-input-counter
		aria-describedby="helper-text-explanation"
		class="block h-11 w-full border-x-0 border-gray-300 bg-gray-50 py-2.5 text-center text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
		bind:value
		{disabled}
	/>
	<Plus {disabled} on_click={() => update(step)} />
</div>
