<script>
	import { call_backend } from '$lib/utils';
	import { toast } from '@zerodevx/svelte-toast';
	import { current_user } from '$lib/utils';
	import { onMount } from 'svelte';
	import { Accordion, AccordionItem, Label } from 'flowbite-svelte';
	import Spinbox from './Spinbox.svelte';

	export let data = {};
	onMount(() => {
		fetch_settings();
	});

	async function fetch_settings() {
		// Convert m to s
		const response = await call_backend(`/training/${$current_user}`);
		if (!response.ok) {
			let text = await response.text();
			toast.push(`Failed to fetch settings: ${text}`);
			return;
		}
		let new_data = await response.json();
		new_data.interval_min = s_to_min(new_data.interval_min);
		new_data.interval_max = s_to_min(new_data.interval_max);
		new_data.warm_up_interval = s_to_min(new_data.warm_up_interval);
		data = new_data;
	}

	function min_to_s(value) {
		return value * 60;
	}

	function s_to_min(value) {
		return Math.round(value / 60);
	}

	$: $current_user && fetch_settings();

	export async function generate() {
		// Convert m to s
		var send = {};
		Object.assign(send, data);
		send.interval_min = min_to_s(send.interval_min);
		send.interval_max = min_to_s(send.interval_max);
		send.warm_up_interval = min_to_s(send.warm_up_interval);
		const response = await call_backend(`/training/${$current_user}`, {
			method: 'POST',
			body: JSON.stringify(send)
		});
		if (!response.ok) {
			let text = await response.text();
			toast.push(`Failed to generate: ${text}`);
			return;
		}
	}

	const cadence_limit = 200;
	const resistance_limit_min = 1;
	const resistance_limit_max = 16;
	const cadence_step = 5;
	const time_step = 10;
	const interval_limit = 600;
	const interval_step = 0.5;
</script>

<Accordion>
	<AccordionItem>
		<Label slot="header">Settings</Label>
		<div class="grid grid-cols-1 gap-4 text-center sm:grid-cols-2 md:grid-cols-3">
			<div>
				<Label>Warm Up Interval (min)</Label>
				<Spinbox step={interval_step} max={interval_limit} bind:value={data.warm_up_interval} />
			</div>
			<div>
				<Label>Warm Up Cadence</Label>
				<Spinbox step={cadence_step} max={cadence_limit} bind:value={data.warm_up_cadence} />
			</div>
			<div>
				<Label>Warm Up Resistance</Label>
				<Spinbox
					min={resistance_limit_min}
					max={resistance_limit_max}
					bind:value={data.warm_up_resistance}
				/>
			</div>

			<div>
				<Label>Time (min)</Label>
				<Spinbox max={200} step={5} bind:value={data.time} />
			</div>
			<div>
				<Label>Interval Min (min)</Label>
				<Spinbox step={interval_step} max={interval_limit} bind:value={data.interval_min} />
			</div>
			<div>
				<Label>Interval Max (min)</Label>
				<Spinbox step={interval_step} max={interval_limit} bind:value={data.interval_max} />
			</div>

			<div>
				<Label>Effort (kcal)</Label>
				<Spinbox max={10000} step={20} bind:value={data.effort} />
			</div>

			<div>
				<Label>Cadence Min</Label>
				<Spinbox max={cadence_limit} step={cadence_step} bind:value={data.cadence_min} />
			</div>

			<div>
				<Label>Cadence Max</Label>
				<Spinbox max={cadence_limit} step={cadence_step} bind:value={data.cadence_max} />
			</div>
			<div>
				<Label>Resitance Min</Label>
				<Spinbox
					min={resistance_limit_min}
					max={resistance_limit_max}
					bind:value={data.resistance_min}
				/>
			</div>
			<div>
				<Label>Resistance Max</Label>
				<Spinbox
					min={resistance_limit_min}
					max={resistance_limit_max}
					bind:value={data.resistance_max}
				/>
			</div>
		</div>
	</AccordionItem>
</Accordion>
